[MASTER]

ignore-paths=src/tests

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-docstring,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]

max-line-length=100
indent-string="    "
indent-after-paren=4
expected-line-ending-format=LF
ignore-long-lines = "^\\s*(# )?<?https?://\\S+>?$"

; [REFACTORING]

; max-nested-blocks=2

; [DESIGN]

; max-args=4
; max-statements=10
