<h1>Edit Citation</h1>

<form method="POST" action="/edit/{{ book.id }}">
    Title:<br>
    <input type="text" name="title" value="{{ book.title }}"><br><br>

    Author:<br>
    <input type="text" name="author" value="{{ book.author }}"><br><br>

    Year:<br>
    <input type="text" name="year" value="{{ book.year }}"><br><br>

    Publisher:<br>
    <input type="text" name="publisher" value="{{ book.publisher }}"><br><br>

    Address:<br>
    <input type="text" name="address" value="{{ book.address }}"><br><br>

    <button type="submit">Save Changes</button>
</form>